.ui-tree-pointer > [ui-tree-handle] {
    background-color: #d9eecc;
}
.btn {
    margin: 0;
}
.tree-column {
    position: absolute;
    z-index: 2;
}
.sticky {
    position: sticky;
    top: 0;
}
.shortcuts-column {
    padding-left: calc(15px + 33.33333333%);
    width: 100%;
}
.table-shortcuts tr.header, .table-shortcuts th {
    display: none;
}
.table-shortcuts tr {
    display: block;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #cfcfcf;
    box-sizing: border-box;

    -webkit-transition: height linear 0.5s;
    -moz-transition: height linear 0.5s;
    -o-transition: height linear 0.5s;
    transition: height linear 0.5s;

    height: 180px;
}
.table-shortcuts tr.collapsed {
    border: none;
    height: 0px;
}
.table-shortcuts td {
    width: 65%;
    display: inline-block;
    border: 0!important;
}
.table-shortcuts td:first-child {
    width: 34%;
}
.table-shortcuts strong {
    display: block;
}
.table-shortcuts code {
    display: inline-block;
}

.filter {
    margin-top: 20px;
}
.filter button {
    font-size: 0.8em !important;
}