<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AngularJS UI Tree Keyboard demo</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-tree/demo/css/demo.css">
    <link rel="stylesheet" type="text/css" href="demo.css">
    <script src="bower_components/sticky-polyfill/sticky.js"></script>

</head>
<body ng-app="demoApp">

<div class="container">

    <div class="jumbotron">
        <h1>Tree keyboard</h1>

        <p class="lead">Keyboard control for Tree - the AngularJS Tree component with drag and drop support.</p>

        <p><a class="btn btn-lg btn-default" href="https://github.com/ee/ui-tree-keyboard" role="button"><strike>Code on
            GitHub</strike></a> <a class="btn btn-lg btn-success" href="https://bitbucket.org/jrencz/ui-tree-kbd/src/?at=review" role="button">Temporaty Code on
            Bitbucket</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>What?</h2>

            <p>
                Angular Tree Keyboard is an AngularJS module that enables keyboard support for Angular Tree - the
                AngularJS UI component.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Why?</h2>

            <p>
                Because we case about usability and accessibility and we want you to deliver them to your users with
                zero effort.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Features</h2>
            <ul>
                <li>Allows to navigate and modify the tree with keyboard</li>
                <li>Provides a way to release keys when possible and reattach them afterwards</li>
                <li>Flexible: Can be used with custom key map</li>
                <li>Extensible: Built with providers</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>See it in action</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-controller="MainCtrl">
                <div class="col-lg-4 tree-column sticky">
                    <h3>Draggable Tree</h3>

                    <!-- Nested list template -->
                    <script type="text/ng-template" id="items_renderer.html">
                        <div ui-tree-handle>
                            <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span
                                    class="glyphicon"
                                    ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                            <button data-nodrag class="btn btn-info btn-xs" ui-tree-keyboard-set-pointer-on="click"><small>Set pointer</small></button>
                            <small>{{item.title}}</small>
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"
                               style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                            <li ng-repeat="item in item.items" ui-tree-node ui-tree-keyboard-node
                                ng-include="'items_renderer.html'">
                            </li>
                        </ol>
                    </script>
                    <div ui-tree="treeOptions" ui-tree-keyboard="treeKeyboardOptions">
                        <ol ui-tree-nodes ng-model="list">
                            <li ng-repeat="item in list" ui-tree-node ui-tree-keyboard-node
                                ng-include="'items_renderer.html'"></li>
                        </ol>
                    </div>
                </div>

                <div class="col-lg-8 shortcuts-column">
                    <h3 class="pull-left">Keyboard shortcuts</h3>
                    <div class="btn-group btn-group-sm pull-right filter">
                        <button ng-click="filter.pointerMove = !filter.pointerMove"
                                class="btn btn-default btn-sm" ng-class="{active: filter.pointerMove}">
                            Pointer movement
                        </button>
                        <button ng-click="filter.nodeMove = !filter.nodeMove"
                                class="btn btn-default btn-sm" ng-class="{active: filter.nodeMove}">
                            Node movement
                        </button>
                        <button ng-click="filter.nodeOps = !filter.nodeOps"
                                class="btn btn-default btn-sm" ng-class="{active: filter.nodeOps}">
                            Node operations
                        </button>
                        <button ng-click="filter.smart = !filter.smart"
                                class="btn btn-default btn-sm" ng-class="{active: filter.smart}">
                            "Smart" movement or operations
                        </button>
                    </div>

                    <table class="table table-shortcuts">
                        <tr class="header">
                            <th>Shortcut</th>
                            <th>Action</th>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.pointerMove || filter.smart)}">
                            <td>
                                <code>down</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Pointer movement</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>"Smart" down</strong>
                                    Moves the pointer down "visually" - just as user sees it.
                                </p>
                                <ul>
                                    <li>Go to next sibling</li>
                                    <li>Go next sibling of the first ancestor that has one</li>
                                </ul>
                                <p>It preserves the collapsed nodes.</p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.pointerMove || filter.smart)}">
                            <td>
                                <code>up</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Pointer movement</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>"Smart" up</strong>
                                    Moves the pointer up "visually".
                                </p>
                                <ul>
                                    <li>Go to previous sibling if it exists and has no descendants</li>
                                    <li>Go to previous sibling last descendant if it has any</li>
                                    <li>Go to parent</li>
                                </ul>
                                <p>It preserves the collapsed nodes.</p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.pointerMove || filter.smart)}">
                            <td>
                                <code>left</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Pointer movement</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>"Smart" left</strong>
                                    goes down the tree expanding collapsed nodes.
                                </p>
                                <ul>
                                    <li>Expand the node if it's collapsed</li>
                                    <li>Go to the first child if node is expanded</li>
                                    <li>Go to next sibling if current one has no children</li>
                                </ul>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.pointerMove || filter.smart)}">
                            <td>
                                <code>right</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Pointer movement</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>"Smart" right</strong>
                                    Goes up the tree collapsing nodes behind.
                                </p>
                                <ul>
                                    <li>Expand the node if it's collapsed</li>
                                    <li>Go to the first child if node is expanded</li>
                                    <li>Go to next sibling if current one has no children</li>
                                </ul>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.pointerMove}">
                            <td>
                                <code>shift + down</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Pointer movement</span>
                                    <strong>Next</strong>
                                    Go to the next sibling.
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.pointerMove}">
                            <td>
                                <code>shift + up</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Pointer movement</span>
                                    <strong>Previous</strong>
                                    Go to the previous sibling.
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeMove}">
                            <td>
                                <code>tab</code><code>ctrl/⌘ + right</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node movement</span>
                                    <strong>Increase indentation</strong>
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeMove}">
                            <td>
                                <code>shift + tab</code><code>ctrl/⌘ + left</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node movement</span>
                                    <strong>Decrease indentation</strong>
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.nodeMove || filter.smart)}">
                            <td>
                                <code>ctrl/⌘ + up</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node movement</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>"Smart" move up</strong>
                                    Moves the node and its children up.
                                </p>
                                <ul>
                                    <li>Switch positions with previous sibling if one exists and has no descendants</li>
                                    <li>Take position of the last descendant of its previous sibling</li>
                                    <li>
                                        Take position of nodes' parent (which is the equivalent to decreasing
                                        indentation and moving up).
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.nodeMove || filter.smart)}">
                            <td>
                                <code>ctrl/⌘ + down</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node movement</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>"Smart" move down</strong>
                                    Moves the node and its children down.
                                </p>
                                <ul>
                                    <li>Switch positions with next sibling if one exists</li>
                                    <li>
                                        Take position of nodes' parent next sibling (which is the equivalent to
                                        decreasing indentation).
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeMove}">
                            <td>
                                <code>ctrl/⌘ shift + up</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node movement</span>
                                    <strong>Move up</strong>
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeMove}">
                            <td>
                                <code>ctrl/⌘ shift + down</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node movement</span>
                                    <strong>Move down</strong>
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !(filter.nodeOps)}">
                            <td>
                                <code>shift + N</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node operation</span>
                                    <strong>New sibling</strong>
                                    Creates the node as a sibling of the one the pointer is on.
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeOps}">
                            <td>
                                <code>shift + alt+ N</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node operation</span>
                                    <strong>New sibling</strong>
                                    Creates the node as a child of the one the pointer is on.
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeOps || filter.smart}">
                            <td>
                                <code>ctrl/⌘ + backspace/delete</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node operation</span>
                                    <span class="label label-info">"Smart"</span>
                                    <strong>Safe remove</strong>
                                    Removes the node. It asks for a confirmation if the node contains child nodes.
                                </p>
                                <p>It then moves the pointer to:</p>
                                <ol>
                                    <li>the previous sibling if it exists</li>
                                    <li>the parent if it exists</li>
                                    <li>the next sibling</li>
                                </ol>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeOps}">
                            <td>
                                <code>ctrl/⌘ + alt + backspace/delete</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node operation</span>
                                    <strong>Remove</strong>
                                    Removes the node without any confirmation no matter how many children it has.
                                </p>
                            </td>
                        </tr>
                        <tr ng-class="{collapsed: !filter.nodeOps}">
                            <td>
                                <code>space</code>
                            </td>
                            <td>
                                <p>
                                    <span class="label label-info">Node operation</span>
                                    <strong>Toggle</strong>
                                    Toggles node children visibility.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- JavaScript -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/angular-ui-utils/modules/keypress/keypress.js"></script>
<script src="dist/ui-tree-keyboard.min.js"></script>
<script src="demo.js"></script>
</body>
</html>